#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "$PACKAGE_NAME/$SRCARCH $ARCH $D $COMPILER Configuration on $PLATFORM"

config ARCH 
	string 
	option env="ARCH"
config SRCARCH
	string
	option env="SRCARCH"
config SUBARCH
        string
        option env="SUBARCH"
config HOST
	string
	option env="HOST"
config TARGET
        string
        option env="TARGET"
config PLATFORM
	string
	option env="PLATFORM"
config DEBUG
	string
	option env="DEBUG"
config COMPILER
	string
	option env="COMPILER"
config PACKAGE_NAME
	string
	option env="PACKAGE_NAME"

menu "Build Options"

menu "Architecture options"
source "arch/$SRCARCH/Kconfig"
source "arch/Kconfig"
endmenu

source "scripts/Kconfig.cc"
source "scripts/Kconfig.modules"
source "scripts/Kconfig.debug"
source "scripts/Kconfig.bindings"
endmenu

source "scripts/package/Kconfig"
