#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "Kbuild/$SRCARCH $ARCH Configuration on $PLATFORM"

config ARCH
        string
        option env="ARCH"
config SRCARCH
	string
	option env="SRCARCH"
config HOST
	string
	option env="HOST"
config TARGET
        string
        option env="TARGET"
config PLATFORM
	string
	option env="PLATFORM"

menu "Build Options"

menu "Architecture options"
source "arch/$SRCARCH/Kconfig"
source "arch/Kconfig"
endmenu

source "scripts/Kconfig.cc"
source "scripts/Kconfig.modules"
source "scripts/Kconfig.debug"
source "scripts/Kconfig.bindings"
endmenu

source "package/Kconfig"
