# Select 32 or 64 bit
#
#
config LITTLE_ENDIAN
        def_bool y

config PAGE_SIZE
        int
	default 4096

config MMU
        def_bool y

config HOTPLUG_CPU
        def_bool y
        prompt "Support for hot-pluggable CPUs"
        depends on SMP
        help
          Say Y here to be able to turn CPUs off and on. CPUs
          can be controlled through /sys/devices/system/cpu/cpu#.
          Say N if you want to disable CPU hotplug.

config BITS
	int
        default 32 if X86_32
        default 64 if X86_64

config 64BIT
	bool 
	default ARCH != "i386"
	---help---
	  Say yes to build a 64-bit - formerly known as x86_64
	  Say no  to build a 32-bit - formerly known as i386

config X86_32
	def_bool y
	depends on !64BIT

config X86_64
	def_bool y
	depends on 64BIT

### Arch settings
config X86
	def_bool y
	select ARCH_HAS_FAST_MULTIPLIER
#	select CONFIG_MODULES
#	select ARCH_SUPPORTS_NUMA_BALANCING if X86_64
#	select ARCH_SUPPORTS_INT128 if X86_64
	select HAVE_EFFICIENT_UNALIGNED_ACCESS
	select HAVE_ALIGNED_STRUCT_PAGE 
	select DCACHE_WORD_ACCESS
	select HAVE_CC_STACKPROTECTOR

config ARCH_DEFCONFIG
	string
	default "arch/x86/configs/i386_defconfig" if X86_32
	default "arch/x86/configs/x86_64_defconfig" if X86_64

config GENERIC_BUG
	def_bool y
	depends on BUG
	select GENERIC_BUG_RELATIVE_POINTERS if X86_64

config GENERIC_BUG_RELATIVE_POINTERS
	bool

config ARCH_HAS_CPU_RELAX
	def_bool y

source "arch/x86/Kconfig.cpu"
